doctype html
html
	head
		title Serofca
		meta(charset="utf-8")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		style.
			*{
				transition-duration:1s;
				box-sizing:border-box;
				font-family:sans-serif;
				font-weight:lighter;
			}
			body{
				background: #04b2f7;
				background: -webkit-linear-gradient(0deg #04b2f7 10%,#f7ae04 35%,#f7ae04 75%, #04b2f7 100%);
				background: -o-linear-gradient(0deg #04b2f7 10%,#f7ae04 35%,#f7ae04 75%, #04b2f7 100%);
				background: -moz-linear-gradient(0deg #04b2f7 10%,#f7ae04 35%,#f7ae04 75%, #04b2f7 100%);
				background: linear-gradient(0deg #04b2f7 10%,#f7ae04 35%,#f7ae04 75%, #04b2f7 100%);
			}
			section{
				color: black;
				position: absolute;
				top: 50%;
				left: 50%;
				max-width: 100vw;
				-webkit-transform:translate(-50%,-50%);
				-ms-transform:translate(-50%,-50%);
				-moz-transform:translate(-50%,-50%);
				-o-transform:translate(-50%,-50%);
				transform:translate(-50%,-50%);
				font-size: 1em;
				box-shadow: 10px 10px 5px gray;
				background-color:rgba(255,255,255,.5);
				padding: 1em;
			}
			h1{
				text-shadow: 1px 1px white;
				font-size: 2em;
			}
	body
		section
			h1 Lo sentimos, no podemos encontrar la página especificada
			h4 Si llegaste desde un enlace interno y consideras que es un error nuestro puedes escribirnos a sistemas.serofca@gmail.com
			|puedes ingresar para:
			br
			a(href="#") estudiante (cursos)
			br
			a(href="/serofcaLogin/") empresa
			br