doctype html
html
	head
		title Vista de administrador
		meta(charset="utf-8")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href='/css/v2-template.css')
	body
		if error
			h2 Ha ocurrido un error crítico, notifique al administrador de sistemas
		else
			h2 Seleccione al físico cuyos datos desea ver
			select(id="selector")
				!="<option disabled selected>Seleccionar Físico</option>"
				-for(phy of data)
					option(value=phy.id)!=phy.email
			button#create Crear nuevo usuario
			script.
				document.getElementById('selector').addEventListener('change',e=>{
					e.preventDefault()
					let value = e.target.value
					console.log(value)
					e.target.innerHTML = e.target.innerHTML
					/*
					 * that last line resets the selector
					 * so the selected option will always be the disabled one
					*/
					w = open('/admin/physicist?id='+value, ""/*, "width=900,height=700"*/)
				})
				document.getElementById('create').addEventListener('click',e=>{
					e.preventDefault()
					let w = open('/admin/newUserForm',"","width=400,height=500")

					let timer = setInterval( () => {
						//this timer waits for the popup to close
						//and reloads the current page
						if(w.closed) {  
							clearInterval(timer)  
							location.reload() 
						}
					},1000)
				})