doctype html
html
	head
		title Alterar Equipo
		meta(charset="utf-8")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href='/css/v2-template.css')
	body
		section#ask
			button#modify-button Modificar Equipo
			form(action="/admin/deleteEquipemement" method="POST")
				input(type='hidden' name='serie' id="delete-serie")
				input(type="submit" value='Eliminar Equipo')
		section#modify(style="display:none")
			h2 Modificar Equipo
			form(method="POST" action="/admin/updateEquipement" id='modify-equipement')
				input(placeholder="Nombre" name="nombre" required maxlength="60")
				input(placeholder="Modelo" name="modelo" required maxlength="20")
				input(placeholder="Sala" name="sala" required maxlength="10")
				input(placeholder="Marca" name="marca" required maxlength="30")
				input(placeholder="Próximo QC (aaaa-mm)" name="ProxQc" required maxlength="7")
				input(placeholder="Último QC (aaaa-mm)" name="UltimoQc" required maxlength="7")
				textarea(placeholder="Observaciones" name="observaciones" maxlength="140")
				input(type="hidden" name="serie")
				input(type='submit')
		script.
			const serial = decodeURIComponent(
				location.href.split('?')[1].split('=')[1]
				)
			document.getElementById( 'delete-serie' ).value = serial

			document.getElementById( 'modify-button' ).addEventListener('click',()=>{
				document.getElementById('ask').style.display = 'none'
				document.getElementById('modify').style.display = 'block'
			})

