doctype html
html
	head
		title Salas
		meta(charset="utf-8")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href='/css/v2-template.css')
	body
		script const rif = '#{rif}'
		if rooms.length
			h2 Salas
			section.table-holder
				table
					thead
						tr
							th Nombre
							th Equipos
							th Próximo Lev.
							th Último Lev.
							th Obs
					tbody#t-body.clickable
			script!= `const rooms = ${ JSON.stringify( rooms ) }`
			script.
				const tbody = document.getElementById( 't-body' )
				rooms.forEach( e => {
					const tr = document.createElement( 'tr' )
					let keys = [//the keys must be ordered
						'identificador_en_clinica',
						'equipos',
						'ProximoLev',
						'UltimoLev',
						'observaciones'
					]
					keys.forEach(key=>{
						let td = document.createElement('td')
						switch(key){
							case 'ProximoLev'://date formatting
							case 'UltimoLev':
								if ( e[ key ] ) {
									td.innerText = e[ key ].split('T')[ 0 ].split('-').filter( ( e , i ) => i < 2 ).join('-')
								}else{
									td.innerText = 'N/D'
								}
								break
							default:
								td.innerText = e[ key ]
						}
						tr.appendChild( td )
					})
					//the tr's are interactive, the next function handles this situation.
					tr.addEventListener( 'click' , () => {
						let w = open(
							'/admin/modifyOrDeleteRoom?id=' +
								encodeURIComponent( e.id ),
							'',
							"width=400,height=500"
							)
						/*
							in order to avoid unnecesary data transmition,
							the next function alters the DOM of the
							already open window to insert data into the form.
						*/
						w.document.body.onload = () => {
							const form = w.document.getElementById('modify-room')
							//form inside popup
							for( key in e ){
								/*
									since the inputs share names with the object
									we can iterate trough properties this way
								*/
								//we use a CSS selector
								let input = form.querySelector(`[name="${key}"]`)
								//verify that the input is correct
								//the input can be an input element or a textarea
								if( input ){
									switch( key ){
										case 'ProximoLev'://date formatting
										case 'UltimoLev':
											input.value = e[key].split('-01T')[0]
											break
										default:
											input.value = e[key]
									}
								}
							}
						}
						let timer = setInterval( () => {
							//this timer waits for the popup to close
							//and reloads the current page
							if( w.closed ) {  
								clearInterval( timer )  
								location.reload( )
							}
						} , 1000 )
					} )
					tbody.appendChild( tr )
				} )
		else
			h2 no hay equipos en esta clínica
		br
		button#create Nueva Sala
		script.
			document.getElementById( 'create' ).addEventListener( 'click' , e => {
				let w = open( '/admin/newRoomForm?rif=' + encodeURIComponent( rif ) , "" , "width=400,height=500" )
				let timer = setInterval( ( ) => {
					//this timer waits for the popup to close
					//and reloads the current page
					if( w.closed ) {  
						clearInterval( timer )  
						location.reload( )
					}
				} , 1000 )
			} )