doctype html
html
	head
		title Subida de archivo exitosa
		meta(charset="utf-8")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		style.
			body{
				background:#04b2f7;
				background:-webkit-linear-gradient(0deg#04b2f7 10%,#f7ae04 35%,#f7ae04 75%, #04b2f7 100%);
				background:-o-linear-gradient(0deg#04b2f7 10%,#f7ae04 35%,#f7ae04 75%, #04b2f7 100%);
				background:-moz-linear-gradient(0deg#04b2f7 10%,#f7ae04 35%,#f7ae04 75%, #04b2f7 100%);
				background:linear-gradient(0deg#04b2f7 10%,#f7ae04 35%,#f7ae04 75%, #04b2f7 100%);
			}
	body
		h1 Archivo subido correctamente
		script.
			setTimeout(function(){window.close()},2000)