*{
	-webkit-box-sizing:border-box;
			box-sizing:border-box;
}
body{
	margin:0;
	min-height:100vh;
	background-color:#007acc;
	padding-top:10vh;
	padding-bottom:10vh;
	padding-left:10vw;
	padding-right:10vw;
	color:white;
	font-family:Copperplate , Copperplate Gothic Light, sans-serif;
}
@-webkit-keyframes fancy-entrance{
	from{-webkit-transform: rotateY(90deg);transform: rotateY(90deg);display: block;}
	to{-webkit-transform: rotateY(0deg);transform: rotateY(0deg);display: block;}
}
@keyframes fancy-entrance{
	from{-webkit-transform: rotateY(90deg);transform: rotateY(90deg);display: block;}
	to{-webkit-transform: rotateY(0deg);transform: rotateY(0deg);display: block;}
}
@media(min-width:600px){
	body{font-size: 1.3em;}
}
@media(min-height:600px){
	body{font-size: 1.3em;}
}
@media(max-width:600px){
	body{padding-left: 3vw;padding-right: 3vw;}
}
a{
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}
a.button-like{
	background-color: rgb(247,147,29);
	border: 3px solid white;
	padding: .3em;
	border-radius: 5px;
	font-weight: bold;
}
select,input,button,textarea{
	margin-bottom:1em;
	width:100%;
	padding:.4em;
	border-radius:5px;
	border:4px solid white;
}
:focus{
	border:4px solid orange;
}
input[type="submit"],button{
	background-color:rgb(247,147,29);
	color:white;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}
.button-group{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}
.button-group button{
	width: auto;
}
.table-holder{
	overflow: auto;
	color:#333;
	max-height: 80vh;
}
table{
	width:100%;
	border-collapse:collapse;
	font-size: .7em;
}
td,th{
	background-color:white;
	border:1px solid silver;
}
table * {
	text-align:center;
}
.hid{
	display: none;
	-webkit-animation: fancy-entrance .3s ease-in-out;
	        animation: fancy-entrance .3s ease-in-out;
}
.show .hid{
	display: block;
}
.clickable tr:hover{
	border: 2px solid orange;
	cursor: pointer;
}
/*uploader css*/
		#kek{
			background-color: rgba(2555,255,255,.2);
			border-radius: 1em;
			color:#fff;
			padding: 1em;
			font-size: 1.3em;
			text-align: center;
			display: none;
		}
		#kek.done{
			animation-direction: reverse;
		}
		#kek.done.display{
			-webkit-animation: fancy-entrance .3s ease-in-out;
			        animation: fancy-entrance .3s ease-in-out;
			display: block;
		}
		#kek div{
			padding: 1em;
			border: 5px dashed rgb(247,147,29);
		}
		#kek label{
			cursor: pointer;
			margin: 0;
		}
		#kek strong{
			text-decoration: underline;
			font-weight: bold;
		}
		#kek h2{
			margin: 0;
		}
		#kek section{
			padding: 1em;
		}
		#kek input,#kek select{
			width: 40%;
			margin-left: 5%;
			margin-right: 5%;
			padding: .3em;
		}